<div class="adminDashContainer">
  <div class="usersContainer">
    <a class="addUserButton"></a>
    <div class="addUserOperationBlock">

    </div>

    <div class="usersDisplay">
      <h1>USERS</h1>
      <div class="user">
        <ul>
          <li><span></span></li>
          <li><span></span></li>
          <li><a class="deleteUserButton"></a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="stocksContainer">
    <a class="addStockButton"></a>
    <div class="addStockOperationBlock">

    </div>

    <div class="stocksDisplay">
      <h1>STOCKS</h1>
      <div class="stock">
        <ul>
          <li><span></span></li>
          <li><span></span></li>
          <li><a class="deleteStockButton"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
